{%extends "layout.html"%}
{%block content%}
<div class = 'about'>
  <h1>About</h1>
  <p>This web app is brought to you by Bartosz Bobnis</p>
  <p>This app created as personal coding project is handled by <b>Python</b> on the back- end using <b>Flask, Bokeh and Pandas</b> libraries demonstrating their versatile possibilities. Each search is dynamically processed and data is uniquely gathered from Yahoo Finance via<b> Pandas Datareader</b> module.
    Front end has been written in HTML and styled in CSS manually.<br><br>Data used for this project was scraped from the web using <b>beautiful soup</b> and is stored in SQL database. All data concerning actual S&P 500 list used by this web app is dynamically quoted from database using <b>SQLite</b>.<br><br>
    Head over to my github profile at <a href="https://github.com/bartekswl" target="_blank"><strong> github.com/bartekswl </strong></a> if you would like to check out the source code for this project and have a peek at how I battled some issues that came up during the process.</p><br>
</div>

{%endblock%}
