<div>
    <form method='GET' name="stype">
     <br> <p><b>Please specify how would you like to search for S&P 500 Company:</p></b><br>
        <input type="radio" id="name" name="stype" value="name" required>
          <label for ="name">by Name</label><br>
            <input type="radio" id="ticker" name="stype"  value="ticker">
          <label for ="name">by Ticker<div class="help-tip"><p>Stock Exchange ticker symbol- each company is identified either by full name or this special symbol. Usually consists of 1-5 letters, for example AXP for American Express</p></div></label>                                         
          <br>
         <input type="submit" value="Submit">
    </form>
  </div>
  <br>
  <br>
