<p><b>Chose one from the list: </b></p>
<form method="GET" name="name_final">
<select id="results"  name="name_final" autocomplete = "off", required>
<option value="American Airlines Group">American Airlines Group</option>
<option value="American Electric Power">American Electric Power</option>
<option value="American Express">American Express</option>
<option value="American International Group">American International Group</option>
<option value="American Tower Corp.">American Tower Corp.</option>
<option value="American Water Works">American Water Works</option>
</select>
{{number_of_options | safe}}
<br>
<input type="submit" value="Submit">
</form>
<br>
<br>

